[Desktop Entry]
Name=Maui Demo
Name[ca]=Demostració del Maui
Name[ca@valencia]=Demostració de Maui
Name[cs]=Ukázka Maui
Name[eo]=Maui-Demo
Name[es]=Demostración de Maui
Name[eu]=Maui erakustaldia
Name[fi]=Maui-demo
Name[fr]=Démonstration de Maui
Name[gl]=Demostración de Maui
Name[it]=Maui Demo
Name[ka]=Maui-ის დემო
Name[ko]=Maui 데모
Name[nl]=Maui Demo
Name[pl]=Pokazowe Maui
Name[sk]=Maui Demo
Name[sl]=Maui Demo
Name[sv]=Demonstration av Maui
Name[tr]=Maui Tanıtımı
Name[uk]=Демонстрація Maui
Name[x-test]=xxMaui Demoxx
Comment=MauiKit Demo App
Comment[ca]=Aplicació de demostració del MauiKit
Comment[ca@valencia]=Aplicació de demostració de MauiKit
Comment[cs]=Ukázková aplikace Maui
Comment[eo]=MauiKit Demo-Apo
Comment[es]=Aplicación de demostración de Maui
Comment[eu]=MauiKit erakustaldi aplikazioa
Comment[fi]=MauiKit-demosovellus
Comment[fr]=Application de démonstration de MauiKit
Comment[gl]=Aplicación de demostración de MauiKit.
Comment[it]=Applicazione dimostrativa MauiKit
Comment[ka]=Maui-ის დემო აპი
Comment[ko]=MauiKit 데모 앱
Comment[nl]=MauiKit Demo-app
Comment[pl]=Aplikacja pokazowa MauiKit
Comment[sk]=MauiKit Demo aplikácia
Comment[sl]=MauiKit Demo App
Comment[sv]=MauiKit demonstrationsprogram
Comment[tr]=Maui Tanıtım Uygulaması
Comment[uk]=Програма-демонстрація MauiKit
Comment[x-test]=xxMauiKit Demo Appxx
TryExec=MauiDemo
Exec=MauiDemo
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextEditor;
GenericName=MauiKit Demo
GenericName[ca]=Demostració del MauiKit
GenericName[ca@valencia]=Demostració de MauiKit
GenericName[cs]=Ukázka MauiKit
GenericName[eo]=MauiKit-Demo
GenericName[es]=Demostración de MauiKit
GenericName[eu]=MauiKit erakustaldia
GenericName[fi]=MauiKit-demo
GenericName[fr]=Démonstration de MauiKit
GenericName[gl]=Demostración de MauiKit
GenericName[it]=MauiKit Demo
GenericName[ka]=Maui-ის დემო
GenericName[ko]=MauiKit 데모
GenericName[nl]=MauiKit Demo
GenericName[pl]=Pokazowe MauiKit
GenericName[sk]=MauiKit Demo
GenericName[sl]=MauiKit Demo
GenericName[sv]=MauiKit demonstration
GenericName[tr]=MauiKit Tanıtımı
GenericName[uk]=Демонстрація MauiKit
GenericName[x-test]=xxMauiKit Demoxx
StartupNotify=true
Icon=mauidemo
