[Desktop Entry]
Name=Maui Demo
Name[ar]=عينة ماوي
Name[ca]=Demostració del Maui
Name[ca@valencia]=Demostració de Maui
Name[cs]=Ukázka Maui
Name[en_GB]=Maui Demo
Name[eo]=Maui-Demo
Name[es]=Demostración de Maui
Name[eu]=Maui erakustaldia
Name[fi]=Maui-demo
Name[fr]=Démonstration de Maui
Name[gl]=Demostración de Maui
Name[he]=הדגמה של Maui
Name[it]=Maui Demo
Name[ka]=Maui-ის დემო
Name[ko]=Maui 데모
Name[lv]=„Maui“ demonstrācija
Name[nl]=Maui Demo
Name[pl]=Pokazowe Maui
Name[sa]=मौई डेमो
Name[sk]=Maui Demo
Name[sl]=Maui Demo
Name[sv]=Demonstration av Maui
Name[tr]=Maui Tanıtımı
Name[uk]=Демонстрація Maui
Name[x-test]=xxMaui Demoxx
Name[zh_CN]=Maui 演示
Name[zh_TW]=Maui 範例
Comment=MauiKit Demo App
Comment[ar]=تطبييق عينة ماوي
Comment[ca]=Aplicació de demostració del MauiKit
Comment[ca@valencia]=Aplicació de demostració de MauiKit
Comment[cs]=Ukázková aplikace Maui
Comment[en_GB]=MauiKit Demo App
Comment[eo]=MauiKit Demo-Apo
Comment[es]=Aplicación de demostración de Maui
Comment[eu]=MauiKit erakustaldi aplikazioa
Comment[fi]=MauiKit-demosovellus
Comment[fr]=Application de démonstration de MauiKit
Comment[gl]=Aplicación de demostración de MauiKit.
Comment[he]=יישומון הדגמה של MauiKit
Comment[it]=Applicazione dimostrativa MauiKit
Comment[ka]=Maui-ის დემო აპი
Comment[ko]=MauiKit 데모 앱
Comment[lv]=„MauiKit“ demonstrācijas programma
Comment[nl]=MauiKit Demo-app
Comment[pl]=Aplikacja pokazowa MauiKit
Comment[sa]=MauiKit Demo App
Comment[sk]=MauiKit Demo aplikácia
Comment[sl]=MauiKit Demo App
Comment[sv]=MauiKit demonstrationsprogram
Comment[tr]=Maui tanıtım uygulaması
Comment[uk]=Програма-демонстрація MauiKit
Comment[x-test]=xxMauiKit Demo Appxx
Comment[zh_CN]=Mauikit 演示应用
Comment[zh_TW]=MauiKit 範例應用程式
TryExec=MauiDemo
Exec=MauiDemo
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextEditor;
GenericName=MauiKit Demo
GenericName[ar]=عينة ماوي
GenericName[ca]=Demostració del MauiKit
GenericName[ca@valencia]=Demostració de MauiKit
GenericName[cs]=Ukázka MauiKit
GenericName[en_GB]=MauiKit Demo
GenericName[eo]=MauiKit-Demo
GenericName[es]=Demostración de MauiKit
GenericName[eu]=MauiKit erakustaldia
GenericName[fi]=MauiKit-demo
GenericName[fr]=Démonstration de MauiKit
GenericName[gl]=Demostración de MauiKit
GenericName[he]=הדגמה של MauiKit
GenericName[it]=MauiKit Demo
GenericName[ka]=Maui-ის დემო
GenericName[ko]=MauiKit 데모
GenericName[lv]=„MauiKit“ demonstrācija
GenericName[nl]=MauiKit Demo
GenericName[pl]=Pokazowe MauiKit
GenericName[sa]=मौइकिट डेमो
GenericName[sk]=MauiKit Demo
GenericName[sl]=MauiKit Demo
GenericName[sv]=MauiKit demonstration
GenericName[tr]=MauiKit Tanıtımı
GenericName[uk]=Демонстрація MauiKit
GenericName[x-test]=xxMauiKit Demoxx
GenericName[zh_CN]=MauiKit 演示
GenericName[zh_TW]=MauiKit 範例
StartupNotify=true
Icon=mauidemo
